<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.imniu.mapper.WebFileMapper">
  <resultMap id="FileWebBaseResultMap" type="me.imniu.po.WebFile">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="UPLOAD_TIME" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="DOWNLOAD" jdbcType="DECIMAL" property="download" />
    <result column="CONTENT_TYPE" jdbcType="VARCHAR" property="contentType" />
    <result column="FILE_SIZE" jdbcType="DECIMAL" property="fileSize" />
  </resultMap>
  <resultMap extends="FileWebBaseResultMap" id="ResultMapWithBLOBs" type="me.imniu.po.WebFile">
    <result column="CONTENT" jdbcType="BLOB" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, FILE_NAME, UPLOAD_TIME, DOWNLOAD, CONTENT_TYPE, FILE_SIZE
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  
  <!-- 根据Id查询文件信息 -->
  <select id="selectById" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    SELECT 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM WEB_FILE
    WHERE ID = #{id,jdbcType=DECIMAL}
  </select>
  
  <!-- 查询文件列表，不加载文件内容 -->
   <select id="selectList" resultMap="FileWebBaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM WEB_FILE ORDER BY UPLOAD_TIME DESC
  </select>
  
  <insert id="insert" parameterType="me.imniu.po.WebFile">
    insert into WEB_FILE (FILE_NAME, UPLOAD_TIME, 
      DOWNLOAD, CONTENT_TYPE, FILE_SIZE, 
      CONTENT)
    values (#{fileName,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}, 
      #{download,jdbcType=DECIMAL}, #{contentType,jdbcType=VARCHAR}, #{fileSize,jdbcType=DECIMAL}, 
      #{content,jdbcType=BLOB})
  </insert>
  
  <!-- 根据Id查询文件信息 -->
  <delete id="deleteById" parameterType="java.math.BigDecimal">
    delete from WEB_FILE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  </mapper>